@import url('https://fonts.googleapis.com/css?family=Hind|Lora|Merriweather+Sans:800');

#watchmen {
	max-width: 1280px;
	max-width: 30%;
	display: block;
	margin: 0 auto 0 auto;
	color: #7E251F;
	padding: 10em 0 10em 0;
	font-size: 1.5em;
	font-weight: bold;

	q {
		padding: 0 0 2em 0;
		display: inline-block;
	}
}

#watchmen-wrapper {
	background-color: #FFE3E1;
}

#catcher-wrapper {
	background-color: #939492;
}

#catcher {
	max-width: 1280px;
	text-align: right;
	padding: 5em 0 20em 0;
	font-size: 1.5em;
	color: #1E1F1E;

	em {
		display: inline-block;
		padding: 1em 0 0 0;
	}
}

q {
	font-family: 'Lora', serif;
}

q:before,
q:after {
	content: " ";
}

cite {
	font-style: normal;
	display: block;
	padding: 10em 0 0 0;
	font-family: 'Merriweather', sans-serif;
	font-weight: 800;
	font-size: 0.8em;
}
