.quote-wrapper {
	margin-top: -10em;
}

.quote {
	display: block;
	margin: 0 auto;
	width: 40%;
	padding: 20em 0;
}

#design.quote-wrapper {
	background-color: #fafafa;
}

#design q {
	font-size: 2em;
}

#thinking.quote-wrapper {
	background-color: #0F7BB1;
	color: #f6f6f6;

	q {
		padding: 0 0 3em 0;
	}
}

#thinking .quote {
	width: 30%
}

#grendel.quote-wrapper {
/*	background-color: #333;*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,000000+99 */
background: #555555; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #555555 0%, #000000 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #555555 0%,#000000 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #555555 0%,#000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#grendel {
	color: #f6f6f6;


	q {
		text-align: center;
		color: #111;
		font-size: 2em;
		/*font-family: 'Playfair Display', serif;*/
		/*font-family: 'Abril Fatface', cursive;*/
		/*font-family: 'Yeseva One', cursive;*/
		font-weight: bold;
		padding-bottom: 1em;
		font-style: italic;
	}

	.upper {
		padding-top: 1em;
		font-size: 4.5em;
		color: #f0f0f0;
		font-weight: 700;
		letter-spacing: 0.05em;
		font-family: 'Josefin Sans', sans-serif;
		text-shadow: -6px 6px 0px rgba(000, 000, 000, 1);
      	font-style: normal;
	}

	.quote {
		width: 90%;
	}
}

#neuromancer.quote-wrapper {
	background-color: #F3F5F6;

	background-image: linear-gradient(90deg, transparent 80%, #054C6F);
	background-size: 3px 3px;

	padding: 5em 0;


	#title {
		font-size: 2.5em;
		padding-bottom: 0.5em;
		font-weight: bold;
	}

	#body {
		font-size: 1.5em;
		line-height: 1.3;
	}

	cite {
		padding-top: 4em;
	}

	#border-box {
/*		border: 4px solid #054C6F;*/
		background-color: #054C6F;
		width: 100%;
		float: left;
		margin-left: 2em;
		margin-top: -18em;
		height: 20em;
	}
}

#neuromancer-inner-wrap {
	border: 4px solid #054C6F;
	padding: 3em;
	background-color: white;
	position: relative;
	z-index: 1;

	q,cite {
		font-family: 'PT Mono', monospace;
		color: #054C6F;
	}
}

#bfg.quote-wrapper {
	background-color: #F3F5F6;
	color: #054C6F;

	q {
		font-size: 2em;
	}
}

#v {
	padding: 0 10em;
	color: #5D1C09;

	q {
		font-size: 3em;
		padding-bottom: 1.5em;
	}
}

#v.quote-wrapper {
	background-color: #EEE9E8;
}

.citation {
	display: inline-block;
	padding: 10em 0;
	width: 100%;
}




