.quote-wrapper {
	margin-top: -10em;
}

.quote {
	display: block;
	margin: 0 auto;
	width: 40%;
	padding: 20em 0;
}

#design.quote-wrapper {
	background-color: #fafafa;
}

#design q {
	font-size: 2em;
}

#thinking.quote-wrapper {
	background-color: #0F7BB1;
	color: #f6f6f6;

	q {
		padding: 0 0 3em 0;
	}
}

#thinking .quote {
	width: 30%
}

#grendel.quote-wrapper {
	background-color: #333;
}

#grendel {
	color: #f6f6f6;


	q {
		text-align: center;
		padding-bottom: 3em;
		letter-spacing: 0.1em;
	}
}

.citation {
	display: inline-block;
	padding: 10em 0;
	width: 100%;
}




