@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display+SC:400,900|Playfair+Display:900,900i');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

.ar { text-align: right; }
.ac { text-align: center; }

.bold { font-weight: bold; }
.upper { text-transform: uppercase; }


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
	font-family: 'Lora', serif;
}

q {
	font-family: 'Lora', serif;
	display: inline-block;
	width: 100%;
}

q:before,
q:after {
	content: " ";
}

cite {
	font-style: normal;
	display: block;
	padding: 10em 0 0 0;
	font-family: 'Merriweather', sans-serif;
	font-weight: 800;
	font-size: 0.8em;
	text-align: right;
	letter-spacing: 0.1em;
}